solution/checkpoints/
solution/input_images/
*.zip

.DS_Store
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
datasets/Data_LeaderboardTesting/
datasets/Data_Training/
model.png
.vscode/

shrek/pytorch-deeplab-xception/data/
!shrek/pytorch-deeplab-xception/data/.gitkeep
shrek/pytorch-deeplab-xception/run/
!shrek/pytorch-deeplab-xception/run/.gitkeep
shrek/pytorch-deeplab-xception/pytorch-lr-finder/

shrek/scoring_submission/submission/checkpoint/
shrek/scoring_submission/submission/testing/

object_segmentation_pipelines/Enet/for_Alberto/*
object_segmentation_pipelines/Enet/datasets/*
